body {
	color: #4b4b4b;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1, h2, h3 {
  color: #4b2e83;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 900;
}

.gridView {
  width: 50%;
  height: 100%;
  border: thick double #32a1ce;
}

.gridView > div {
  display: flex;
  width: 100%;
  padding: 10px;
}

/* grid card */
.card {
  border: thick double #32a1ce;
}

.card img {
  width: 100%;
}

.submitPlayer{
  display: flex;
  justify-content: center;
}





