*{
  box-sizing:border-box;
  }
  /*header*/
header{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #8b7878;
}
/* body {
  height: 100%;
} */

h1, h2, h3 {
  color: #4b2e83;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 90;
  padding: 1%;
}
.gridView {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gridView > div {
  display: flex;
  margin: 20px;
}

/* grid card */
.card-body {
  /* display: flex;
  flex-wrap: wrap; */
  border: thick double black;
  border-collapse: collapse;
}


.player-name {
  text-align: center;
  font-size: 150%;
}

.player-bio {
  text-align: left;
}

.submitPlayer{
  display: flex;
  justify-content: left;
  padding: 3%;
}

.title {
  font-size: 300%;
  color: black;
  font-weight: bold;
  background-color: #e0dddd;
  text-align: center;
  padding: 1%;
}

.player-info {
  background-color: #e0dddd;
  border: thick double black;
  padding: 3%;
}

.detailBtn {
  margin-top: 100px;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */

}

#note {
  border: thick double black;
  padding: 10px 20px;
  margin: 5px 20px;
}